.com{
    height: 50px;
    border: 1px solid white;
    background-color: tomato;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    border-right: 10px solid white;
}
body{
    background-color: white;
}
.container{
    margin-top: 100px;
}